#manege-user {
    width: 100vw;
    height: 100vh;
}
#manege-user main legend {
    text-align: center;
    margin-top: -5.5rem;
    font-size: 3.8rem;

}

#manege-user main {
    margin: 3.2rem auto;
    width: 90%;
}
#manege-user main label {
    font-size: 20px;
    margin-left: 20px;
}

.gerenciarVaga {
    display: grid;
    margin-top: 3rem;
}
.gerenciarVaga a {
    
    height: 10.4rem;
    border-radius: 0.8rem;
    margin: 10px;
    
    font: 700 2.0rem Archivo;
    display: grid;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    color: black;

    transition: background-color 0.2s;
}

.gerenciarVaga a.user1{
    background:#DCDCDC;
    
}
.gerenciarVaga a:first-child {
    margin-right: 1.6rem;
}

@media (min-width: 700px) {
    #manege-user {
        max-width: 100%;
    }
    #manege-user main {
        padding: 3.2rem 0;
        background: var(--color-box-base);
        width: 100%;
        max-width: 74rem;
        border-radius: 0.8rem;
        margin: -3.2rem auto 3.2rem;
        padding-top: 6.4rem;
        overflow: hidden;

    }
}